footer{
    background-color: #FF9505;
    color: white;
    position: absolute; /* Positions the footer at the bottom */
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.footer-contact-link {
color: white;
font-size: 1.5rem;
margin-left: 2rem;
}